<% if @troubleshoot.model %>
  <div>
    Бренд автомобиля: <%= @troubleshoot.model.brand.name %>
  </div>

  <div>
    Модель автомобиля: <%= @troubleshoot.model.name %>
  </div>

  <div>
    Год выпуска: <%= @troubleshoot.model.year %>
  </div>
<% end %>

<div>
  Код ошибки: <%= @troubleshoot.code %>
</div>

<div>
  <%= simple_format @troubleshoot.solution %>
</div>

<% if @has_next %>
  <div>Помогло?</div>

  <span>
    <%= link_to "Да", :root, class: "ui button" %>
  </span>

  <span>
    <%= link_to "Нет", { controller: "index", action: "show", model_id: @troubleshoot.model&.id, code: @troubleshoot.code, root_id: @troubleshoot.id }, class: "ui button" %>
  </span>
<% else %>
  <span><%= link_to "На главную", :root, class: "ui button" %></span>
<% end %>
