<% if @troubleshoot.model %>
  <div>
    Бренд автомобиля: <%= @troubleshoot.model.brand.name %>
  </div>

  <div>
    Модель автомобиля: <%= @troubleshoot.model.name %>
  </div>

  <div>
    Год выпуска: <%= @troubleshoot.model.year %>
  </div>
<% end %>

<div>
  Код ошибки: <%= @troubleshoot.code %>
</div>

<div>
  <%= @troubleshoot.solution %>
</div>
