<div>
  Brand: <%= @troubleshoot.model.brand.name %>
</div>

<div>
  Model: <%= @troubleshoot.model.name %>
</div>

<div>
  Year: <%= @troubleshoot.model.year %>
</div>

<div>
  Code: <%= @troubleshoot.code %>
</div>

<div>
  <%= @troubleshoot.solution %>
</div>


