<section>
  <% if @troubleshoot.model %>
    <div>
      Бренд автомобиля: <%= @troubleshoot.model.brand.name %>
    </div>

    <div>
      Модель автомобиля: <%= @troubleshoot.model.name %>
    </div>

    <div>
      Год выпуска: <%= @troubleshoot.model.year %>
    </div>
  <% end %>

  <div>
    Код ошибки: <%= @troubleshoot.code %>
  </div>
</section>


<section class="section">
  <div>
    <%= simple_format @troubleshoot.solution %>
  </div>
</section>

<section class="section">
  <% if @children.present? %>
    <% @children.each do |child| %>
      <%= link_to child.answer, { controller: "index", action: "show", model_id: @troubleshoot.model&.id, code: @troubleshoot.code, root_id: child.id }, class: "ui button" %>
    <% end %>
  <% else %>
    <span><%= link_to "На главную", :root, class: "ui button" %></span>
  <% end %>
</section>
